.side-bar
  .side-bar__header
    .side-bar__header--box
      %p.side-bar__header__box--name
        name
      .side-bar__header__box--icon
        = icon('fas', 'edit')
        = icon('fas', 'cog')
  .side-bar__footer
    .side-bar__footer__group
      .side-bar__footer__group__name
        %p TechCamp
      .side-bar__footer__group__list
        %p まだメッセージがありません 
